@import "./reset.css";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: normal;
    font-style: normal;
}


/* Variables */
:root {
    --color-green: #c5f82a;
    --color-white: #fff;
    --color-gray-700: #333333;
    --color-gray-800: #1f1f1f;
    --color-gray-900: #141414;

    --pad-mobile: 2.4rem;
    --pad-desktop: 4rem;
}

/* base */
html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    background: var(--color-gray-900);
    color: var(--color-white);
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: var(--pad-mobile);
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Card */
.card-profile {
    display: flex;
    flex-direction: column;
    background: var(--color-gray-800);
    padding: var(--pad-mobile);
}